@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid redd; */
}

body {
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* scrollbar */
body::-webkit-scrollbar-track {
  @apply bg-main;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 
  rounded-full bg-dark hover:bg-dark/60;
}

/* FONTS */
@font-face {
  font-family: "custom-fonts";
  src: url("link_to_custom_font.otf") format("truetype");
}

/* IF extenstio IS ttf */

/* ADD MORE AS IT GOES */
