@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid redd; */
}

body {
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

/* scrollbar */
body::-webkit-scrollbar-track {
  @apply bg-main;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 
  rounded-full bg-dark hover:bg-dark/60;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* FONTS */
@font-face {
  font-family: "custom-fonts";
  src: url("link_to_custom_font.otf") format("truetype");
}

/* IF extenstio IS ttf */

/* CODE TO REMOVE NUMBER RANGE ON INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ADD MORE AS IT GOES */
